# ignore figures
figures/

# ignore files in misc
misc/

# ignore data files -- only .txt and .keep files can be retained on the remote repo
pertinent-data/**/*.xlsx
pertinent-data/**/*.mat
pertinent-data/**/*.csv
pertinent-data/**/*.dat
pertinent-data/**/*.zip
pertinent-data/**/*.h5

# ignore the non-pertinent-data directory -- except for the .keep file to main directory structure
!non-pertinent-data/.keep
non-pertinent-data/

# ignore the .vscode file
.vscode

# ignore pycache files
**/__pycache__

# ignore uv virtual environment
.venv/
